<div class="container">
  <div class="p-4">
    <h1 class="text-2xl font-bold mb-4">Sobre a Aplicação</h1>
    <p class="mb-2">
      Este projeto tem como objetivo criar uma aplicação de microfrontend para o gerenciamento de parceiros e empresas
      externas.
      Utilizando Angular 15 e NgPrime, a aplicação é projetada para ser modular e escalável, com diferentes equipes
      podendo
      trabalhar em diferentes partes da aplicação de forma independente.
    </p>
    <p class="mb-2">
      O projeto é dividido em vários microfrontends, cada um com uma responsabilidade específica, permitindo uma
      arquitetura
      flexível e moderna. O microfrontend de login, desenvolvido com React e Vite, fornece uma experiência de usuário
      rápida e
      eficiente.
    </p>
    <p class="mb-2">
      A aplicação inclui funcionalidades para cadastrar e listar parceiros e empresas externas, além de uma página de
      informações
      sobre o projeto e um sistema de compartilhamento de dados com suporte a paginação.
    </p>
    <p>
      Trabalhar com Angular 15 foi um grande aprendizado, e estou entusiasmado com o desenvolvimento contínuo deste
      projeto.
      A integração de diferentes tecnologias e a implementação de microfrontends foram experiências valiosas que
      contribuíram
      significativamente para meu crescimento profissional.
    </p>
  </div>

</div>
