.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

/* Container para botões de ação */
.action-button {
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.action-button:hover {
  opacity: 0.8;
}

/* Botão de editar */
.edit-button {
  color: #ffc107;
  background-color: transparent;
}

/* Botão de excluir */
.delete-button {
  color: #f44336; /* Vermelho para o ícone de excluir */
  background-color: transparent;
}

input[pInputText] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  font-size: 1rem;
  color: #495057;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[pInputText]:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
  outline: none;
}

/* Estilo do cabeçalho com título e botões */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.header .title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.header .back-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  color: #007bff;
}

.header .add-partner-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header .add-partner-button:hover {
  background-color: #0056b3;
}

/* Estilo do popup */
p-dialog .p-dialog-footer {
  display: flex;
  justify-content: flex-end;
}

p-dialog .p-dialog-footer button {
  margin-left: 0.5rem;
}
