<div class="flex flex-column align-items-center justify-content-center min-h-screen px-4">
  <div class="grid gap-5">
    <a href="#partners"
      class="bg-blue-500 hover:bg-blue-600 text-white text-xl no-underline  border-round lg:col-5 col-12 flex align-items-center justify-content-center">
      <i class="pi pi-users mr-2"></i>
      <span>Partners</span>
    </a>
    <a href="#companies"
      class="bg-green-500 hover:bg-green-600 text-white text-xl no-underline  border-round lg:col-5 col-12 flex align-items-center justify-content-center">
      <i class="pi pi-briefcase mr-2"></i>
      <span>Companies</span>
    </a>
    <a href="#about"
      class="bg-yellow-500 hover:bg-yellow-600 text-xl text-white no-underline border-round lg:col-5 col-12 flex align-items-center justify-content-center">
      <i class="pi pi-info-circle mr-2"></i>
      <span>About</span>
    </a>
    <a href="#logout"
      class="bg-red-500 hover:bg-red-600 text-xl text-white no-underline border-round lg:col-5 col-12 flex align-items-center justify-content-center">
      <i class="pi pi-sign-out mr-2"></i>
      <span>Logout</span>
    </a>
  </div>
</div>
